# Dependencies
node_modules/
/.pnp
.pnp.js

# Production build
dist/
build/

# Environment and Secret files
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.example
*.env

# Certificates & Private Keys
*.pem
*.key
*.cert
*.crt

# System & Editor files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.idea/
.vscode/

# Vercel & Deployment artifacts
.vercel/
